body {
  height: 100vh;
  background-image: url('../img/background.jpg');
  background-size: cover;
}

.as_txt_shadow-dark {
  text-shadow: 0 0 3px black;
}

.as_txt_shadow-blue {
  text-shadow: 0 0 3px blueviolet;
}

.as_background_light {
  background: radial-gradient(circle, white, transparent);
}